/* You can target elements by name/type */


/* list of colors
#11296b     #00509d     #ededed     #ffdb57     #ffcb05 */
body {
    background-color:rgb(168, 206, 255);
}
ul {
    background-color: #a8ceff;
}

li {
    background-color: rgb(221, 243, 255);
    list-style:none;
}

.header{
    background-color: #a8ceff;
    color: #5593f6;
    text-align: center;
    position: center;
    float: center;
    padding: 2% 10%;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

.input-holder{
    display: grid;
    place-content: center;
    float: center;
    margin: 40px 60px;

}
#input1{
    float: center;
    border-radius: 10px;
    text-align: center;
    font-size: 35px;
    padding: 20px 500px;
}

#exampleFormBtn {
    background-color: rgba(213, 246, 247,0.999);
    border: none;
    color: #3392f8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100x;
    border-radius: 90px;
    transition-duration: 0.4s;
    padding: 10px 30px;
    margin: 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#exampleFormBtn:hover {
    background-color: #b7e9ff;
    color: #806df9;
}

    .bio{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#the-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    border: 5px solid black;
    background-color: rgb(255, 246, 246);
}

.selected-button {
background-color: rgb(124, 189, 255) !important;
}

.search {
    background-color: floralwhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}